

.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 74px;
    gap: 0px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
}

.right-side {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -10px;
}

.avatar img {
    width: 65px;
    border-radius: 50%;
}

.logout-button {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 50px;
}

.user-information {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.user-information li {
    cursor: pointer;
    padding: 0px 1px;
}

.user-information li.active {
    border-bottom: 1px solid #000;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    margin: 12px 0px;
}

.profile-information {
    width: 100%;
    padding: 10px 0;
}

.menu1 {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 18px;
    width: 48%;
}

.membership-info {
    display: flex;
    flex-direction: column;
}

.email-input-d {
    width: 100%;
}

.membership-input-t1 input,
.membership-input-t1 div {
    width: 100%;
}

.membership-info input {
    height: 46px;
    padding: 0px 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.profile-info-psa{
    font-size: 14px;
    line-height: 21px;
    color: #676767;
}

.membership-info input:hover {
    background: #f5f5f5;
}

.password-change {
    display: flex;
}

.membership-input-label {
    padding: 30px 0;
}

.membership-input-label span {
    padding-left: 6px;
    color: #484848;
    font-weight: 400;
}

.user-info-heading{
    cursor: pointer;
}

.update-user-info-btn {
    border: 0;
    padding: 12px;
    border-radius: 8px;
    color: #484848;
    font-weight: 500;
    transition: all 62.5ms linear;
}

.update-user-info-btn:hover {
    transform: scale(0.98);
}

.password-change{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.password-change input{
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 16px;
}

.password-change button{
    border: 0;
    padding: 12px;
    border-radius: 8px;
    background: #ccc;
}