@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "sans-serif";
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "SF Pro Display", "sans-serif";
}

h1 {
    cursor: default;
}

h2 {
    cursor: default;
}

h3 {
    cursor: default;
}

@keyframes slideInFromBottoms {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.img-animation {
    animation: slideInFromBottoms 1.1s ease forwards;
    opacity: 0;
}

/* - ALL PAGE COMPONENTS START - */

.bread-crumbs-container {
    width: 100%;
    height: 104px;
    padding: 40px 160px;
    background: #FFFFFF;
    gap: 16px;
    display: flex;
    align-items: center;
}


.breadcrumb-item {
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #A4A4A4;
    transition: all 40ms linear;
}

.breadcrumb-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A4A4A4;
    gap: 16px;
}

.breadcrumb-item-active{
    color: #000000;
}

.breadcrumb-item:hover,
.breadcrumb-item:active {
    color: #000000;
}



/* - HEADER START - */
.header-container {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #B5B5B5;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 160px;
}

.header-container .search-box-container {
    width: 372px;
    height: 56px;
    border-radius: 8px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.header-container .search-box-container input {
    background: #F5F5F5;
    outline: 0;
    border: 0;
    width: 335px;
}

.header-container .pages-link ul {
    list-style-type: none;
    display: flex;
    width: 351px;
    height: 19px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-container .pages-link ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.09px;
    opacity: 60%;
    color: #000000;
}

.header-container .pages-link ul *:nth-child(1) {
    text-decoration: none;
    color: #000000;
}

.header-container .pages-link ul li.active {
    opacity: 100%;
}

.header-container .header-icons {
    display: flex;
    width: 144px;
    height: 32px;
    justify-content: space-between;
}

.header-container .header-icons * {
    cursor: pointer;
}

.cart-circle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 84.9%;
    top: 3.3%;
    border: 3px solid #FFFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 100;
}

/* - HEADER FINISH - */

/* - FOOTER START - */

.footer {
    width: 100%;
    height: 504px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    background: #000000;
    padding: 104px 160px;
}

.footer .footer-info {
    width: 1120px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer .footer-info .footer-logo-text {
    width: 384px;
    height: 94.87px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer .footer-info .footer-logo-text img {
    width: 65.4px;
    height: 22.87px;
}

.footer .footer-info .footer-navigation {
    width: 623px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-info .footer-navigation .navigation-section {
    width: 295.5px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer .footer-info .footer-logo-text p,
.footer .footer-info .footer-navigation .navigation-section p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23.87px;
    color: #CFCFCF;
}

.footer .footer-info .footer-navigation .navigation-section p {
    cursor: pointer;
}

.footer .footer-info .footer-navigation .navigation-section h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer .footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 173px;
    height: 16px;
}

.footer .footer-social-icons * {
    cursor: pointer;
}



/* - FOOTER FINISH - */

/* - PRODUCT START - */

.buyNowButton {
    width: 183px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.product-card {
    width: 268px;
    height: 432px;
    border-radius: 9px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-card .between-icon-favorites {
    width: 236px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.product-card .between-icon-favorites img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.product-card img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.product-card .product-text-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 236px;
    height: 160px;
}

.product-card .product-text-button .product-info {
    width: 236px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.product-card .product-text-button .product-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    width: 236px;
    height: 48px;
}

.product-card .product-text-button .product-info h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
    width: 236px;
    height: 24px;
}

/* - PRODUCT FINISH - */

/* - ALL PAGE COMPONENTS FINISH - */







/* - HOMEPAGE START - */

/* - BANNER START - */
.main-banner {
    width: 100%;
    height: 632px;
    padding: 0 160px;
    background: linear-gradient(#211C24, #211C24);
    display: flex;
    align-items: center;
}

.main-banner .main-banner-content {
    width: 714px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 24px;
}

.main-banner .main-banner-content .main-banner-text {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title h4 {
    opacity: 40%;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: "Figtree", sans-serif;
}

.main-banner .main-banner-content .main-banner-title h1 {
    font-weight: 200;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-title h1 span {
    font-weight: 600;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #909090;
}

.shop-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 90ms linear;
}

.shop-now-button:hover {
    transform: scale(0.98);
}

.smaller-banners {
    width: 100%;
    height: 600px;
    display: flex;
}

.smaller-banners .left-banners {
    width: 50%;
    height: 600px;
}

.smaller-banners .left-banners .wide-square {
    width: 100%;
    height: 328px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text {
    width: 338px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text h1 {
    font-weight: 500;
    font-size: 49px;
    line-height: 40px;
    color: #000000;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner {
    width: 100%;
    height: 272px;
    display: flex;
}

.smaller-banners .left-banners .squares-banner .square-banner {
    width: 100%;
    height: 272px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 {
    background: #EDEDED;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 {
    background: #353535;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text {
    width: 160px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 {
    font-weight: 300;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 span {
    font-weight: 500;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1 span {
    color: #000000;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1 span {
    color: #FFFFFF;
}

.smaller-banners .big-banner {
    width: 50%;
    height: 600px;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.smaller-banners .big-banner .big-banner-content {
    width: 360px;
    height: 192px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smaller-banners .big-banner .big-banner-title-text {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.smaller-banners .big-banner .big-banner-title-text h1 {
    font-weight: 200;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text h1 span {
    font-weight: 500;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .big-banner img {
    margin-right: -95px;
}

.middle-banner-container {
    width: 100%;
    height: 640px;
    display: flex;
}

.middle-banner-container .middle-banner-card {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text {
    width: 296px;
    height: 208px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text {
    width: 296px;
    height: 208px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text h3 {
    font-weight: 300;
    font-size: 33px;
    line-height: 48px;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.bottom-big-banner-container {
    width: 100%;
    height: 448px;
    background: linear-gradient(to right, #2E2E2E, #000000);
}

.bottom-big-banner-container .big-banner-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 530px;
    height: 112px;
    margin-bottom: 40px;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title h1 {
    font-weight: 100;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title h1 span {
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title p {
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

/* - BANNER FINISH - */

/* - HOME PAGE CATEGORİES START - */

.home-categories-container {
    width: 100%;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    flex-direction: column;
}

.home-categories-container .top-categories {
    width: 1120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container * {
    border: 0;
    outline: none;
    background: none;
}

.home-categories-container .top-categories h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    letter-spacing: 1%;
}

.home-categories-container .home-categories {
    width: 1120px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.home-category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #EDEDED;
    border-radius: 15px;
    width: 160px;
    height: 128px;
    cursor: pointer;
    gap: 8px;
    transition: all 75ms linear;
}

.home-category-card:hover {
    transform: scale(1.14);
}

.home-category-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* - HOME PAGE CATEGORİES FINISH - */

/* - HOME PAGE PRODUCTS START - */

.home-products-container {
    width: 100%;
    height: 1056px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-products-container .home-products-tag {
    width: 1120px;
    height: 32px;
    margin-bottom: 32px;
}

.home-products-container .home-products-tag ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.products-container {
    width: 1120px;
    height: 880px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.discounted-container {
    width: 100%;
    height: 656px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.discounted-container .discounted-text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.discounted-container .discounted-text {
    display: flex;
    justify-content: left;
    width: 1120px;
}

.discounted-container .discounted-products-container {
    display: flex;
    width: 1120px;
    height: 432px;
    justify-content: space-between;
}


/* - HOME PAGE PRODUCTS FINISH - */







/* - HOMEPAGE FINISH - */