@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "sans-serif";
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "SF Pro Display", "sans-serif";
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

h1 {
    cursor: default;
}

h2 {
    cursor: default;
}

h3 {
    cursor: default;
}

/* - ALL PAGE COMPONENTS START - */

.bread-crumbs-container {
    width: 100%;
    height: 104px;
    padding: 40px 196px;
    background: #FFFFFF;
    gap: 16px;
    display: flex;
    align-items: center;
}


.breadcrumb-item {
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #A4A4A4;
    transition: all 40ms linear;
}

.breadcrumb-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A4A4A4;
    gap: 16px;
}

.breadcrumb-item-active {
    color: #000000;
}

.breadcrumb-item:hover,
.breadcrumb-item:active {
    color: #000000;
}



/* - HEADER START - */
.header-container {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #B5B5B5;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 160px;
}

.header-container .search-box-container {
    width: 372px;
    height: 56px;
    border-radius: 8px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.header-container .search-box-container input {
    background: #F5F5F5;
    outline: 0;
    border: 0;
    width: 335px;
}

.header-container .pages-link ul {
    list-style-type: none;
    display: flex;
    width: 351px;
    height: 19px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-container .pages-link ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.09px;
    opacity: 60%;
    color: #000000;
}

.header-container .pages-link ul *:nth-child(1) {
    text-decoration: none;
    color: #000000;
}

.header-container .pages-link ul li.active {
    opacity: 100%;
}

.header-container .header-icons {
    display: flex;
    width: 144px;
    height: 32px;
    justify-content: space-between;
}

.header-container .header-icons * {
    cursor: pointer;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-circle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 90%;
    top: 0%;
    transform: translate(-60%, -20%);
    border: 3px solid #FFFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 100;
}

.user-icon-container {
    position: relative;
    display: inline-block;
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.user-icon-container:hover .user-menu,
.user-menu:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}

.user-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.user-menu a:hover {
    background-color: #f1f1f1;
}

/* - HEADER FINISH - */

/* - FOOTER START - */

.footer {
    width: 100%;
    height: 504px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    background: #000000;
    padding: 104px 160px;
    display: flex;
    align-items: center;
}

.footer .footer-info {
    width: 1120px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer .footer-info .footer-logo-text {
    width: 384px;
    height: 94.87px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer .footer-info .footer-logo-text img {
    width: 65.4px;
    height: 22.87px;
}

.footer .footer-info .footer-navigation {
    width: 623px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-info .footer-navigation .navigation-section {
    width: 295.5px;
    height: 256px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer .footer-info .footer-logo-text p,
.footer .footer-info .footer-navigation .navigation-section p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23.87px;
    color: #CFCFCF;
}

.footer .footer-info .footer-navigation .navigation-section p {
    cursor: pointer;
}

.footer .footer-info .footer-navigation .navigation-section h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer .footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 173px;
    height: 16px;
}

.footer .footer-social-icons * {
    cursor: pointer;
}



/* - FOOTER FINISH - */

/* - PRODUCT START - */

.buyNowButton {
    width: 183px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.product-card {
    padding: 24px 16px;
    border-radius: 9px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-card .between-icon-favorites {
    width: 236px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 8px;
}

.product-card .between-icon-favorites img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.product-card img {
    width: 160px;
    height: 160px;
}

.product-card .product-text-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 236px;
    height: 160px;
}

.product-card .product-text-button .product-info {
    width: 236px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.product-card .product-text-button .product-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    width: 236px;
    height: 48px;
}

.product-card .product-text-button .product-info h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
    width: 236px;
    height: 24px;
}

/* - PRODUCT FINISH - */

/* - ALL PAGE COMPONENTS FINISH - */







/* - HOMEPAGE START - */
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }

/* - BANNER START - */
.main-banner {
    width: 100%;
    padding: 0 160px;
    background: linear-gradient(#211C24, #211C24);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-banner .main-banner-content {
    width: 714px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 24px;
}

.main-banner .main-banner-content .main-banner-text {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title h4 {
    opacity: 40%;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: "Figtree", sans-serif;
}

.main-banner .main-banner-content .main-banner-title h1 {
    font-weight: 200;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-title h1 span {
    font-weight: 600;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #909090;
}

.shop-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 90ms linear;
}

.shop-now-button:hover {
    transform: scale(0.98);
}

.smaller-banners {
    width: 100%;
    display: flex;
}

.smaller-banners .left-banners {
    width: 50%;
}

.smaller-banners .left-banners .wide-square {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text {
    width: 338px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text h1 {
    font-weight: 500;
    font-size: 49px;
    line-height: 40px;
    color: #000000;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner {
    width: 100%;
    display: flex;
}

.smaller-banners .left-banners .squares-banner .square-banner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 {
    background: #EDEDED;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 {
    background: #353535;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text {
    width: 160px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 {
    font-weight: 300;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 span {
    font-weight: 500;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1 span {
    color: #000000;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1 span {
    color: #FFFFFF;
}

.smaller-banners .big-banner {
    width: 50%;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.smaller-banners .big-banner .big-banner-content {
    width: 360px;
    height: 192px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smaller-banners .big-banner .big-banner-title-text {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.smaller-banners .big-banner .big-banner-title-text h1 {
    font-weight: 200;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text h1 span {
    font-weight: 500;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .big-banner img {
    margin-right: -15%;
}

.middle-banner-container {
    width: 100%;
    display: flex;
}

.middle-banner-container .middle-banner-card {
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text {
    width: 296px;
    height: 208px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text {
    width: 296px;
    height: 208px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text h3 {
    font-weight: 300;
    font-size: 33px;
    line-height: 48px;
}

.middle-banner-container .middle-banner-card .middle-banner-card-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.bottom-big-banner-container {
    width: 100%;
    height: 448px;
    background: linear-gradient(to right, #2E2E2E, #000000);
}

.bottom-big-banner-container .big-banner-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 530px;
    height: 112px;
    margin-bottom: 40px;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title h1 {
    font-weight: 100;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title h1 span {
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
}

.bottom-big-banner-container .big-banner-text-container .big-banner-title p {
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

/* - BANNER FINISH - */

/* - HOME PAGE CATEGORİES START - */



.home-categories-container {
    width: 100%;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    flex-direction: column;
}

.home-categories-container .top-categories {
    width: 1120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container * {
    border: 0;
    outline: none;
    background: none;
}

.home-categories-container .top-categories h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    letter-spacing: 1%;
}

.home-categories-container .home-categories {
    width: 1120px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.home-category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #EDEDED;
    border-radius: 15px;
    width: 160px;
    height: 128px;
    cursor: pointer;
    gap: 8px;
    transition: all 75ms linear;
}

.home-category-card:hover {
    transform: scale(1.14);
}

.home-category-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* - HOME PAGE CATEGORİES FINISH - */

/* - HOME PAGE PRODUCTS START - */

.home-products-container {
    width: 100%;
    height: 1056px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-products-container .home-products-tag {
    width: 1120px;
    height: 32px;
    margin-bottom: 32px;
}

.home-products-container .home-products-tag ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.products-container {
    width: 1120px;
    height: 880px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.discounted-container {
    width: 100%;
    height: 656px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.discounted-container .discounted-text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.discounted-container .discounted-text {
    display: flex;
    justify-content: left;
    width: 1120px;
}

.discounted-container .discounted-products-container {
    display: flex;
    width: 1120px;
    height: 432px;
    justify-content: space-between;
}


/* - HOME PAGE PRODUCTS FINISH - */

/* - HOMEPAGE FINISH - */



/* - PRODUCT DETAILS START - */

.main-info {
    width: 100%;
    height: 896px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.main-info .product-image-container {
    display: flex;
    align-items: center;
}

.main-info .product-image-container .product-image {
    width: 516px;
    height: 516px;
}

.main-info .product-image-container .image-4 img:nth-child(2):hover,
.main-info .product-image-container .image-4 img:nth-child(3):hover,
.main-info .product-image-container .image-4 img:nth-child(4):hover {
    border: 1px solid rgba(0, 0, 0, 0.455);
    border-radius: 8px;
}

.main-info .product-image-container .image-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info .product-image-container .image-4 img {
    width: 100px;
    height: 100px;
    margin: 4px;
    opacity: 60%;
}

.main-info .product-image-container .image-4 img:active {
    opacity: 100%;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.main-info .product-image-container .image-4 img:nth-child(1) {
    opacity: 100%;
    width: 120px;
    height: 120px;
}

.main-info .main-info-content {
    width: 536px;
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info .main-info-content .main-info-title {
    width: 536px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info .main-info-content .main-info-title h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.main-info .main-info-content .main-info-title .main-info-price {
    width: 536px;
    height: 48px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.main-info .main-info-content .main-info-title .main-info-price span {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 3%;
}

.main-info .main-info-content .main-content-info {
    width: 536px;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info .main-info-content .main-content-info .select-color-container {
    width: 536px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info .main-info-content .main-content-info .select-color-container span {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #0C0C0C;
}

.main-info .main-info-content .main-content-info .select-color-container .selects-color {
    width: 431px;
    height: 32px;
    gap: 8px;
    display: flex;
}

.main-info .main-info-content .main-content-info .select-color-container .selects-color .select-color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 10ms linear;
    cursor: pointer;
}

.main-info .main-info-content .main-content-info .select-color-container .selects-color .select-color:hover {
    border: 1px solid rgb(255, 255, 255);
}

.main-info .main-info-content .main-content-info .tabs-memory-container {
    width: 536px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info .main-info-content .main-content-info .tabs-memory-container .tabs-memory {
    width: 122px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D5D5D5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6F6F6F;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    transition: all 45ms linear;
    cursor: pointer;
}

.main-info .main-info-content .main-content-info .tabs-memory-container .tabs-memory:hover {
    transform: scale(0.97);
}

.main-info .main-info-content .main-content-info .detail-card-container {
    width: 536px;
    height: 144px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.main-info .main-info-content .main-content-info .detail-card-container .detail-card {
    width: 168px;
    height: 64px;
    border-radius: 7px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: default;
}

.main-info .main-info-content .main-content-info .detail-card-container .detail-card .detail-card-text {
    display: flex;
    flex-direction: column;
}

.main-info .main-info-content .main-content-info .detail-card-container .detail-card .detail-card-text h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #a7a7a7;
}

.main-info .main-info-content .main-content-info .detail-card-container .detail-card .detail-card-text span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4E4E4E;
}

.main-info .main-info-content .main-content-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6c6c6c;
    letter-spacing: 3%;
}

.main-info .main-info-content .main-content-info p span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2c2c2c;
    letter-spacing: 3%;
    border-bottom: 1px solid #2c2c2c;
    cursor: pointer;
}

.add-to-card {
    width: 260px;
    height: 56px;
    border-radius: 6px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    transition: all 60ms linear;
}

.add-to-card:hover {
    transform: scale(1.02);
}

.main-info .main-info-content .add-to-card-container {
    width: 536px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info .main-info-content .cargo-icon-container {
    width: 536px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info .main-info-content .cargo-icon {
    width: 157.33px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}

.main-info .main-info-content .cargo-icon .cargo-text {
    display: flex;
    flex-direction: column;
}

.main-info .main-info-content .cargo-icon .cargo-text h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #717171;
}

.main-info .main-info-content .cargo-icon .cargo-text span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0C0C0C;
}


.product-details-detail-container {
    width: 100%;
    height: 1144px;
    padding: 80px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
}


.product-details-detail-container .product-details-detail {
    width: 1120px;
    height: 984px;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 48px 40px;
}

.product-details-detail-container .product-details-detail .header-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.product-details-detail-container .product-details-detail p {
    font-size: 14px;
    font-weight: medium;
    line-height: 24px;
    color: #9D9D9D;
    margin: 32px 0;
}

.product-details-detail-container .product-details-detail .product-detail-content {
    width: 1040px;
    height: 616px;
}

.product-details-detail-container .product-details-detail .product-detail-content .p-d-info-1 {
    width: 1040px;
    height: 448px;
    margin-bottom: 40px;
}

.product-details-detail-container .product-details-detail .product-detail-content .p-d-info-1 h2 {
    font-size: 20px;
    font-weight: medium;
    line-height: 24px;
    margin-bottom: 16px;
}

.product-details-detail-container .product-details-detail .product-detail-content .p-d-info-2 {
    width: 1040px;
    height: 448px;
}

.product-details-detail-container .product-details-detail .product-detail-content .p-d-info-2 h2 {
    font-size: 20px;
    font-weight: medium;
    line-height: 24px;
    margin-bottom: 16px;
}

.line {
    width: 1040px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.product-details-detail-container .product-details-detail .product-detail-content .p-d-info-1 .p-d-info-1-content .line-add {
    width: 1040px;
    display: flex;
    justify-content: space-between;
}

.line-2-1 {
    width: 1040px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.reviews-container {
    width: 100%;
    border-radius: 24px;
    padding: 88px 160px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
}

.reviews-container .reviews-top {
    width: 1120px;
    height: 384px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.reviews-container .reviews-top .reviews-title {
    width: 1120px;
    height: 32px;
}

.reviews-container .reviews-top .reviews-overall-rating .overall-rating h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 56px;
}

.reviews-container .reviews-top .reviews-overall-rating .overall-rating span {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #afafaf;
}

.reviews-container .reviews-top .reviews-title h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.reviews-container .reviews-top .reviews-overall-rating {
    width: 1120px;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-container .reviews-top .reviews-overall-rating .overall-rating {
    width: 184px;
    height: 192px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #FAFAFA;
}

.reviews-container .reviews-top .schedule {
    width: 876px;
    height: 176px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.reviews-container .reviews-top .schedule .level {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-container .reviews-top .schedule .level p {
    width: 150px;
    height: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
}

.reviews-container .reviews-top .schedule .level .bar-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-container .reviews-top .schedule .level .bar-count-container span {
    width: 30px;
    height: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    opacity: 40%;
    margin: 5px;
}

.reviews-container .reviews-top .leave-comment-input {
    width: 1120px;
    height: 64px;
    border-radius: 7px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #CECECE;
}

.reviews-container .reviews-top .leave-comment-input input {
    width: 1080px;
    height: 60px;
    border-radius: 7px;
    border: 0;
    outline: none;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5%;
    color: #979797;
}

.reviews-container .reviews-comment-container {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.reviews-container .reviews-comment-container .reviews-comment {
    width: 1120px;
    background: #FAFAFA;
    border-radius: 10px;
    display: flex;
    padding: 24px 28px;
    gap: 8px;
    justify-content: space-between;
}

.reviews-container .reviews-comment-container .reviews-comment .reviews-content p {
    color: #7E7E7E;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.reviews-container .reviews-comment-container .reviews-content {
    width: 1001px;
    display: flex;
    flex-direction: column;
}

.reviews-container .reviews-comment-container .reviews-comment .reviews-content .reviews-title-stars .reviews-title-data {
    display: flex;
    justify-content: space-between;
    width: 1001px;
    height: 24px;
}

.reviews-container .reviews-comment-container .reviews-comment .reviews-content .reviews-title-stars {
    width: 1001px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-container .reviews-comment-container .reviews-comment .reviews-content .reviews-title-stars .reviews-title-data h1 {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.reviews-container .reviews-comment-container .reviews-comment .reviews-content .reviews-title-stars .reviews-title-data span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    opacity: 20%;
}

.related-container {
    width: 100%;
    height: 656px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.related-container .related-text {
    width: 1120px;
    align-items: center;
    justify-content: left;
}

.related-container .related-text h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.related-container .related-products-container {
    width: 1120px;
    height: 432px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* - PRODUCT DETAILS FINISH - */

/* - PRODUCT LİST START - */

.product-list-inclusionary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.product-list-container {
    width: 1119px;
    display: flex;
    justify-content: center;
}

.product-list-filters-container {
    margin-right: 32px;
}

.product-list-products-container {
    width: 831px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-list-list {
    width: 831px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side-products h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #6C6C6C;
}

.left-side-products h3 span {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 3%;
    color: black;
}

.product-list-top-part {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.left-side-products {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 0.5px solid #B5B5B5;
}

.accordion-top * {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
    font-family: 'SF Pro Display';
}

.accordion {
    margin: 18px;
}

.filter-search {
    width: 256px;
    height: 40px;
    border-radius: 8px;
    background: #F5F5F5;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.filter-search input {
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background: #F5F5F5;
    outline: none;
    border: 0;
    margin-left: 6px;
}

.filter-brand {
    width: 256px;
    height: 24px;
    display: flex;
    align-items: center;

}

.filter-brand input {
    appearance: none;
    -webkit-appearance: none;
    height: 15.67px;
    width: 16.33px;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    border: 0.5px solid #D3D3D3;
}

.filter-brand input:checked {
    background: black;
    border: 0;
    cursor: pointer;
}

.accordion-content {
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordion-brands-container {
    width: 256px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* - PRODUCT LİST FINISH - */


/* - SHOPPİNG CART PAGE START - */

.shopping-cart-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 112px 160px;
}

.shopping-cart-content {
    width: 1120px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-left {
    width: 536px;
    display: flex;
    flex-direction: column;
}

.shopping-cart-summary {
    width: 536px;
    height: 500px;
    border-radius: 10px;
    padding: 56px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-item {
    width: 100%;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    width: 193px;
    justify-content: space-between;
}

.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 431px;
    height: 80px;
}

.devider {
    width: 536px;
    height: 0.5px;
    background: #A3A3A3;
    margin-top: 40px;
}

.cart-item-right-side {
    width: 238px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-counter {
    width: 104px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-control {
    width: 40px;
    height: 32px;
    border: 0.5px solid #D9D9D9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-right-side span {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 3%;
}

.summary-content {
    width: 408px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.summary-block {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.summary-fields {
    width: 100%;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.summary-field {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.summary-field span {
    font-weight: 500;
    font-size: 14px;
    color: #545454;
}

.summary-field input {
    width: 100%;
    height: 56px;
    border-radius: 7px;
    border: 0.5px solid #9f9f9f;
    padding: 16px 0px 16px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5%;
}

.summary-field-label-2 button {
    width: 76.45px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: #000;
    background: #FFFFFF;
    position: absolute;
    right: 85px;
    top: 261.1px;
}

.summary-field-label-1 button {
    width: 76.45px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: #000;
    background: #FFFFFF;
    position: absolute;
    right: 85px;
    top: 147px;
}

.summary-prices {
    width: 100%;
    height: 50px;
}

.total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-price * {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #000;
}

.checkout-btn {
    width: 408px;
    height: 56px;
    border-radius: 6px;
    background: #000;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 0;
}

/* - SHOPPİNG CART PAGE FINISH - */



/* - PAYMENT PAGES START - */

.payments-steps {
    width: 100%;
    padding: 72px 160px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-text {
    display: flex;
    flex-direction: column;
    width: 128px;
}

.step-text span:nth-child(1) {
    color: #B2B2B2;
    letter-spacing: 3%;
    line-height: 16px;
    font-size: 14px;
}

.step-text span:nth-child(2) {
    letter-spacing: 3%;
    line-height: 24px;
    font-size: 19px;
}

.step-address-content {
    width: 100%;
    padding: 48px 160px;
}

.address-card {
    width: 100%;
    padding: 24px;
    border-radius: 7px;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-card-content {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address-card-content-top {
    display: flex;
    gap: 16px;
}

.address-radio {
    display: flex;
    gap: 16px;
    align-items: center;
}

.address-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.address-radio .custom-radio {
    width: 24px;
    height: 24px;
    background-color: #f6f6f6;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}



.address-radio input[type="radio"]:checked+.custom-radio {
    background-color: #f6f6f6;
    border-color: #000;
}

.address-radio .custom-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.address-radio input[type="radio"]:checked+.custom-radio::after {
    display: block;
}

.address-tag {
    padding: 4px 8px;
    border-radius: 4px;
    background: #000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.address-card-info {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
}

.address-card-actions {
    width: 72px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-card-actions img {
    cursor: pointer;
}

.modal-form input {
    height: 30px;
    border-radius: 6px;
    padding: 20px;
    padding-left: 20px;
    border-color: #000;
}

.shipping-method {
    width: 100%;
    padding: 48px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipping-method-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 592px;
    justify-content: space-between;
}

.shipping-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 304px;
    justify-content: space-between;
}

.shipping-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 248px;
}

.shipping-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 23px;
}

.payments-step-3-container {
    padding: 24px 160px 72px 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payments-step-3-left-side {
    padding: 32px 24px 32px 24px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.payments-step-3-right-side {
    width: 512px;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-3-summary-title {
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 3%;
}

.step-3-selected-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.step-3-selected-added-product {
    width: 464px;
    border-radius: 13px;
    background: #F6F6F6;
    padding: 16px 0px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-3-selected-added-product-image {
    width: 40px;
}

.step-3-selected-added-product-text {
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 392px;
}

.step-3-selected-added-product-text p {
    font-size: 16px;
    margin: 0;
}

.step-3-selected-added-product-text span {
    font-weight: 700;
    font-size: 16px;
}

.step-3-details {
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.step-3-shipment-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.step-3-shipment-address-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.step-3-shipment-address-info h6 {
    font-size: 14px;
    color: #545454;
    font-weight: 500;
}

.step-3-shipment-address-info .step-3-shipment-address-field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 0 12px 0;
    border-radius: 7px;
    min-height: 48px;
}

.step-3-shipment-address-field p {
    font-weight: 400;
    font-size: 16px;
}

.step-3-shipment-method-info {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.step-3-shipment-method-info h6 {
    font-size: 14px;
    color: #545454;
    font-weight: 500;
}

.step-3-shipment-method-info .shep-3-shipment-method-field {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 7px;
    min-height: 24px;
}

.shep-3-shipment-method-field p {
    font-weight: 400;
    font-size: 16px;
}

.step-3-price-info {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.step-3-price-info .step-3-subtotal {
    width: 100%;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-3-subtotal h6 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
    width: 100%;
}

.step-3-subtotal span{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
}

.step-3-taxes-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.step-3-taxes{
    min-height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-3-taxes h6{
    font-weight: 400;
    font-size: 16px;
    color: #545454;
    width: 100%;
}

.step-3-taxes span{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
}

.step-3-total-price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
}

.step-3-total-price h6{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
}

.step-3-total-price span{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3%;
}

.payments-step-3-right-side{
    width: 512px;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-3-right-details{
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.step-3-right-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.step-3-right-top h3{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3%;
}

.step-3-right-tabs{
    min-height: 32px;
    width: 100%;
    gap: 56px;
    display: flex;
}

.step-3-right-tabs span{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 3%;
    color: #717171;
    cursor: pointer;
    height: 21px;
}

.step-3-credit-card{
    display: flex;
    align-items: start;
}

.form-control:focus{
    border-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.payment-complated{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column  ;
    
}

/* - PAYMENT PAGES FINISH - */


/* - USER LOGİN + REGİSTER START - */

.register-input {
    gap: 8px;
}

.register-input input {
    width: 300px;
    padding: 4px 12px;
    outline: none;
    font-weight: 100;
    font-size: 16px;
    border-radius: 4px;
    border: 0.5px solid #dbdbdb;
}

.register-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 16px;
}

.register-text span {
    font-size: 12px;
    font-weight: 200;
    color: #7b7b7b;
}

.register-container button {
    padding: 8px 100px;
    background: #000;
    border: none;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

.login-sReg {
    border: 0.5px solid #dbdbdb;
    width: 25%;
    margin: 10px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

/* - USER LOGİN + REGİSTER FINISH - */