@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "sans-serif";
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

@keyframes slideInFromBottoms {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.img-animation{
    animation: slideInFromBottoms 1.6s ease forwards;
    opacity: 0;
}


/* - HOMEPAGE START - */
/* - HEADER START - */
.header-container {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #B5B5B5;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 160px;
}

.header-container .search-box-container {
    width: 372px;
    height: 56px;
    border-radius: 8px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.header-container .search-box-container input {
    background: #F5F5F5;
    outline: 0;
    border: 0;
    width: 335px;
}

.header-container .pages-link ul {
    list-style-type: none;
    display: flex;
    width: 351px;
    height: 19px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-container .pages-link ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.09px;
    opacity: 60%;
    color: #000000;
}

.header-container .pages-link ul *:nth-child(1) {
    text-decoration: none;
    color: #000000;
}

.header-container .pages-link ul li.active {
    opacity: 100%;
}

.header-container .header-icons {
    display: flex;
    width: 144px;
    height: 32px;
    justify-content: space-between;
}

.header-container .header-icons * {
    cursor: pointer;
}

.cart-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 85.1%;
    top: 3.3%;
    border: 3px solid #FFFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* - HEADER FINISH - */

/* - BANNER START - */
.main-banner {
    width: 100%;
    height: 632px;
    padding: 0 160px;
    background: linear-gradient(#211C24, #211C24);
    display: flex;
    align-items: center;
}

.main-banner .main-banner-content {
    width: 714px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 24px;
}

.main-banner .main-banner-content .main-banner-text {
    width: 714px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-banner .main-banner-content .main-banner-title h4 {
    opacity: 40%;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: "Figtree", sans-serif;
}

.main-banner .main-banner-content .main-banner-title h1 {
    font-weight: 200;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-title h1 span {
    font-weight: 600;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.main-banner .main-banner-content .main-banner-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #909090;
}

.shop-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 90ms linear;
}

.shop-now-button:hover {
    transform: scale(1.04);
}

.smaller-banners {
    width: 100%;
    height: 600px;
    display: flex;
}

.smaller-banners .left-banners {
    width: 50%;
    height: 600px;
}

.smaller-banners .left-banners .wide-square {
    width: 100%;
    height: 328px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text {
    width: 338px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text h1 {
    font-weight: 500;
    font-size: 49px;
    line-height: 40px;
    color: #000000;
}

.smaller-banners .left-banners .wide-square .banner-wide-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner {
    width: 100%;
    height: 272px;
    display: flex;
}

.smaller-banners .left-banners .squares-banner .square-banner {
    width: 100%;
    height: 272px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 {
    background: #EDEDED;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 {
    background: #353535;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text {
    width: 160px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 {
    font-weight: 300;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text h1 span {
    font-weight: 500;
    font-size: 29px;
    line-height: 40px;
}

.smaller-banners .left-banners .squares-banner .square-banner .banner-square-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-1 .banner-square-title-text h1 span {
    color: #000000;
}

.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1,
.smaller-banners .left-banners .squares-banner .left-bottom-bn-2 .banner-square-title-text h1 span {
    color: #FFFFFF;
}

.smaller-banners .big-banner {
    width: 50%;
    height: 600px;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.smaller-banners .big-banner .big-banner-content {
    width: 360px;
    height: 192px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smaller-banners .big-banner .big-banner-title-text {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.smaller-banners .big-banner .big-banner-title-text h1 {
    font-weight: 200;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text h1 span {
    font-weight: 500;
    font-size: 64px;
    line-height: 56px;
    color: black;
}

.smaller-banners .big-banner .big-banner-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.smaller-banners .big-banner img{
    margin-right: -95px;
}

/* - BANNER FINISH - */

/* - HOME PAGE CATEGORİES START - */

.home-categories-container{
    width: 100%;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    flex-direction: column;
}

.home-categories-container .top-categories{
    width: 1120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container{
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-categories-container .top-categories .arrow-button-container *{
    border: 0;
    outline: none;
    background: none;
}

.home-categories-container .top-categories h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    letter-spacing: 1%;
}

.home-categories-container .home-categories{
    width: 1120px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.home-category-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #EDEDED;
    border-radius: 15px;
    width: 160px;
    height: 128px;
    cursor: pointer;
    gap: 8px;
}

.home-category-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* - HOME PAGE CATEGORİES FINISH - */







/* - HOMEPAGE FINISH - */